#cont {
    padding-top: 30px;
    margin-bottom: 100px;
}

#map {
  height: 500px;
}


@media screen and (min-width: 600px) {
    .vertical-line {
    border-left: 1px solid #c5c5c5;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    }
}

.pointer {
    cursor: pointer;
}

.noSeleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header-user-avatar {
    border-radius: 50%;
    margin-right: 0.6em;
}

#header-user-avatar-drop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    width: 50%;
    border-radius: 50%;
}

::selection {
    background: #c5c5c5; 
}

::-moz-selection {
    background: #c5c5c5; 
}

.element-cart-remove {
    float: right;
    margin-right: 15px;
}

.element-cart-title {
    float: left;
    margin-left: 15px;
}

.complete-order {
    padding-left: 10px;
    padding-right: 10px;
}

.element-cart {
    padding-top: 20px;
    padding-bottom: 40px;
}


/* width */
::-webkit-scrollbar {
    width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #343a40; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #272b30;
}

.pagination .disabled a:link {
    color: gray;
}

ul.pagination > li > a {
    border: 1px solid #F1F1F1;
    margin-right:5px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 14px;
}

ul.pagination > li > a i{
    margin-left:5px;
    margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
}

.changeOnHover:hover {
    background-color: #343a40;
    color: white;
}

/* DROPZONE */

.custom-file-upload,.dropzone {
    background: #ddd;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    width:70%;
}

#progress {
    position: relative;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

#bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}

#percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }