<p><input class="form-control" type="text" ng-model="q" placeholder="Filter..."></p>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="w-25">Name</th>
            <th scope="col">Type</th>
            <th scope="col">ISBN</th>
            <th scope="col">Likes</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="resource in resources | filter:q | itemsPerPage: pageSize" current-page="currentPage">
            <td>{{resource.nameResource}}</td>
            <td>{{resource.typeResource}}</td>
            <td>{{resource.ISBNResource}}</td>
            <td>{{resource.likes}}</td>
            <td>{{resource.price}} €</td>
            <td><button class="btn btn-outline-info btn-block" ng-disabled="likeDisabled" ng-click=like(resource)><i class="far fa-thumbs-up"></i></button></td>
            <td><button class="btn btn-outline-success btn-block" ng-disabled="cartDisabled" ng-click="cart(resource)"><i class="fas fa-cart-plus"></i></button></td>
        </tr>
    </tbody>
</table>

<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"/>