<div class="row">
    <!-- LOGIN -->
    <div class="col">
        <h2>Login</h2>
        <form id="lg-form" ng-show="!recShow">
            <div class="form-group">
                <label>Nick</label>
                <input type="text" class="form-control" name="lg-nick" ng-model="formData.lgNick" ng-pattern="/^[a-zA-Z0-9]+$/" placeholder="Nick..."
                    autocomplete="off">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="lg-password" ng-model="formData.lgPassword"
                    placeholder="Password..." ng-keydown="loginKeydown($event.keyCode)">
                
                <small id="lf-recpassword" class="form-text text-muted pointer" ng-click="recoverPassword1()">Forgotten password?</small>
                
            </div>

            <button type="button" class="btn btn-block btn-outline-dark" ng-click="login()">Login</button>
            
            <div id="social-login" class="pointer float-right" ng-click="socialLogin()">
                <i class="fab fa-google"></i>
                <i class="fab fa-github"></i>
            </div>
        </form>

        <form ng-show="recShow">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" ng-model="emailRec" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Email...">
                <small id="lf-recpassword" class="form-text text-muted pointer" ng-click="recoverPassword1()">Back</small>
            </div>
            <button type="button" class="btn btn-block btn-outline-dark" ng-click="recoverPassword2()">Recover password</button>
        </form>

    </div>

    <div class="col-sm-1">
        <div class="vertical-line"></div>
        <br>
    </div>


    <!-- REGISTER -->
    <div class="col">
        <h2>Register</h2>
        <form id="reg-form" name="regForm">
            <div class="form-group">
                <label>Nick</label>
                <input type="text" class="form-control" ng-model="regNick" ng-pattern="/^[a-zA-Z0-9]+$/" placeholder="Nick..." required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" ng-model="regEmail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Email..." required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="regPassword1" 
                    placeholder="Password..." required>
            </div>
            <div class="form-group">
                <label>Repeat password</label>
                <input type="password" class="form-control" ng-class="passwcheck2" ng-model="regPassword2" 
                    placeholder="Repeat password..." required>
            </div>
        </form>
        <button type="button" class="btn btn-block btn-outline-dark" ng-click="register()" ng-disabled="checkReg()">Register</button>
    </div>
</div>
