<form>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="passwd" placeholder="Password..." required>
    </div>
    <div class="form-group">
        <label>Repeat password</label>
        <input type="password" class="form-control" ng-model="passwd1" placeholder="Repeat password..." required>
    </div>

    <button type="button" class="btn btn-block btn-outline-dark" id="set-rec-passwd" ng-click="recover()">Recover password</button>
</form>
