<!-- BUTTONS -->
<div class="btn-group w-100">
    <button type="button" class="btn btn-outline-dark" ng-class="{active : checkActive('profile')}"
        ng-click="profile()">
        <span class="glyphicon glyphicon-user"></span>
        <!-- My profile -->
    </button>
    <button type="button" class="btn btn-outline-dark" ng-class="{active : checkActive('likes')}" ng-click="likes()">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <!-- My likes -->
    </button>
    <button type="button" class="btn btn-outline-dark" ng-class="{active : checkActive('purchases')}"
        ng-click="purchases()">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <!-- My purchases -->
    </button>
</div>

<br>
<br>

<!-- PROFILE CONTENT -->
<div ng-show="checkActive('profile')">
    <form>
        <div class="form-group">
            <label>Nick</label>
            <input type="text" ng-model="nickname" class="form-control" placeholder="Nick..." readonly><br>

            <label>Email</label>
            <input type="text" ng-model="email" class="form-control" placeholder="Email..." readonly><br>

            <label>Birthdate</label>
            <input type="text" class="form-control" placeholder="Birthdate..." readonly ng-model="birthdate" ng-click="datePickerOpen()" datepicker-popup="{{formatDate}}" is-open="isOpened"><br>
            

            <label>Province</label>
            <select class="form-control" id="province-select" ng-model="province" ng-show="provinceModify">
                <option value="" selected="selected">-  Province </option>
                <option ng-repeat="province in provinces" value="{{province}}">{{province.nombre}}</option>
            </select>
            <div ng-show="!provinceModify"> 
                {{currentProvince}} 
                <button class="btn btn-outline-dark" ng-click="provinceModifyProcess()">Change</button>
            </div><br>

            <label>Town</label>
            <select class="form-control" id="town-select" ng-model="town" ng-disabled="townDisable" ng-show="townModify">
                <option value="" selected>- Town -</option>
                <option ng-repeat="town in towns" value="{{town.poblacion}}">{{town.poblacion}}</option>
            </select>
            <div ng-show="!townModify">
                {{currentTown}}
                <button class="btn btn-outline-dark" ng-click="provinceModifyProcess()">Change</button>
            </div>
            <br>

            <label>Avatar</label>
            <div class="form-group" id="progress">
                <div id="bar"></div>

                <div id="percent">0%</div>
            </div>
            <div class="msg"></div>
            <br />
            <div id="dropzone" dropzone="dropzoneConfig" class="dropzone"></div><br />

        </div>

    </form>
    <button class="btn btn-outline-dark btn-block" ng-click="updateProfile()" ng-disabled="updatingProfile">Update</button>
</div>

<!-- LIKES CONTENT -->
<div ng-show="checkActive('likes')">
    <!-- <h1>My likes</h1> -->
    <div class="spinner-border text-dark" role="status" ng-show="!likeLoaded"></div>
    <!-- NO LIKES -->
    <div ng-show="!likesInfo.length && likeLoaded">
        <h6>You do not like anything :(</h6>
        <a href="#/order" class="btn btn-outline-dark">Shop</a>
    </div>

    <!-- LIKES -->
    <div ng-show="likesInfo.length && likeLoaded">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="w-25">Name</th>
                    <th scope="col">ISBN</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="like in likesInfo | itemsPerPage: 3" current-page="currentPageLikes">
                    <td>{{like.nameResource}}</td>
                    <td>{{like.ISBNResource}}</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"/>
    </div>
</div>

<!-- PURCHASE CONTENT -->
<div class="my-purchases-content" ng-show="checkActive('purchases')">
    <!-- <h1>My purchases</h1> -->
    <div ng-show="!purchasesInfo.length && purchasesLoaded">
            <h6>You have not buy anything yet?</h6>
            <a href="#/order" class="btn btn-outline-dark">Shop</a>
    </div>

    <div ng-show="purchasesInfo.length && purchasesLoaded">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="w-25">ID</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="purchase in purchasesInfo | itemsPerPage: 3" current-page="currentPageLikes">
                    <td>{{purchase.purchaseID}}</td>
                    <td>{{purchase.totalPrice}} €</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"/>
    </div>

    <div class="spinner-border text-dark" role="status" ng-show="!purchasesLoaded"></div> 
</div>