<div class="row">
    <div class="col">
        <form id="contact-form" name="contactForm">
            <div class="form-group">
                <label>Name</label>
                <input id="formName" type="text" class="form-control" placeholder="Your name" name="name"
                    autocomplete="off" ng-model="contact.name" ng-class="nameClass" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input id="formEmail" class="form-control" placeholder="Email" name="mail" autocomplete="off"
                    ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="contact.mail" ng-class="mailClass" required>
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea rows="9" id="formMessage" class="form-control" name="message" placeholder="Message"
                    ng-model="contact.message" ng-class="messageClass" required></textarea>
            </div>
        </form>
        <button class="btn btn-outline-dark btn-block send" ng-click="sendMail()"
            ng-disabled="!(contactForm.mail.$valid) || !(contactForm.name.$valid) || !(contactForm.message.$valid)">Send</button>
        <br>
    </div>

    <br>
    <br>

    <div class="col-sm-7">
        <div id="map"></div>
    </div>
</div>

<!-- MODAL -->
<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--Title-->
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-content">
                <!--Content-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcHJROebG73UlXZjF1FwPeIkNOgJTk8dY&callback=initMap"></script>
          