<h1 data-tr="New"></h1>

<form>
    Type:
    <div class="noSeleccionable">
        <div class="form-check form-check-inline">
            <label id="book-lab" class="form-check-label">
                <input class="form-check-input book-rad" type="radio" ng-model="type" value="libro">
                Book
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label id="art-lab" class="form-check-label">
                <input class="form-check-input art-rad" type="radio" ng-model="type" value="articulo">
                Article
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label id="mag-lab" class="form-check-label">    
                <input class="form-check-input mag-rad" type="radio" ng-model="type" value="revista">
                Magazine
            </label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-4">
            <input type="text" placeholder="Nombre..." autocomplete="off" class="form-control" ng-model="name" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Editorial</label>
        <div class="col-sm-4">
            <input type="text" placeholder="Editorial..." autocomplete="off" class="form-control" ng-model="editorial" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">ISBN</label>
        <div class="col-sm-4">
            <input type="text" placeholder="ISBN..." autocomplete="off" class="form-control" ng-model="isbn" ng-pattern="/[0-9]{13}/" required>
            <span ng-show="isCreating">
                <button class="btn btn-sm btn-outline-dark" type="button" ng-click="searchApi()">
                    <span class="spinner-border spinner-border-sm" id="loading-api-search" role="status" aria-hidden="true" hidden></span>
                    Search API
                </button>
                1111111111111
            </span>
        </div>
        <span id="erISBN" name="erISBN"></span>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Release</label>
        <div class="col-sm-4">
            <input type="text" placeholder="Release..." readonly autocomplete="off" ng-model="release"
                class="form-control" ng-click="datePickerOpen()" datepicker-popup="{{formatDate}}" is-open="isOpened" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-4">
            <input type="text" placeholder="Price..." autocomplete="off" class="form-control" ng-model="price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
        </div>
    </div>


    <span>Genre</span> :
        <div class="noSeleccionable">
            <label>
                <input type="checkbox" value="accion" ng-model="genre.accion">
                Action
            </label>
            <label>
                <input type="checkbox" value="aventuras" ng-model="genre.aventuras">
                Adventures
            </label>
            <label>
                <input type="checkbox" value="terror" ng-model="genre.terror">
                Terror
            </label>
            <label>
                <input type="checkbox" value="otro" ng-model="genre.otro">
                Other
            </label>
        </div>

    <button class="btn btn-outline-dark btn-submit col-sm-6" type="button" ng-click="save()">Save</button>
    <br>
    <button class="btn btn-outline-danger col-sm-1" type="button" ng-show="isCreating" ng-click="clear()">Clear</button>
</form>
