<div class="input-group mb-3">
    <div class="input-group-prepend">
        <a class="btn btn-outline-success" href="#/crud/create"><i class="fas fa-plus-circle"></i></a>
    </div>
    <input class="form-control" type="text" ng-model="q" placeholder="Filter...">
</div>

<table class="table table-bordered">

    <thead class="table-dark">
        <tr>
            <th scope="col" class="w-25">Name</th>
            <th scope="col">ISBN</th>
            <th scope="col">Release</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="resource in resources | filter: q | itemsPerPage: 5">
            <td>{{resource.nameResource}}</td>
            <td>{{resource.ISBNResource}}</td>
            <td>{{resource.releaseResource}}</td>
            <td><a class="btn btn-outline-success btn-block" href="#/details/{{resource.IDResource}}"><i class="fab fa-readme"></i></a></td>
            <td><a class="btn btn-outline-info btn-block" href="#/crud/update/{{resource.IDResource}}"><i class="fas fa-edit"></i></a></td>
            <td><button class="btn btn-outline-danger btn-block" 
                    ng-click="delete(resource)"><i class="fas fa-eraser"></i></i></button></td>
        </tr>
    </tbody>
</table>

<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" />