<div class="row">
    <div class="col">
        <h1>{{item.nameResource}}</h1>
        <h6>{{item.releaseResource}}</h6>
        <h6>{{item.editorialResource}}</h6>
        <h6>{{item.price}} €</h6>


        <div class="row pt-3">
            <div class="col">
                <a href="#/crud/update/{{item.IDResource}}" class="btn btn-outline-info btn-block" ng-show="isAdmin">Modify</a>
            </div>
            <div class="col">
                <a href="#/crud" class="btn btn-outline-dark btn-block" ng-show="isAdmin">List</a>
            </div>
        </div>


    </div>

    <div class="col-sm-2" id="col-related">
        <span class="spinner-border spinner-border" ng-show="!apiLoaded"></span>
        <img src="{{localItemImage}}" id="img-book" ng-show="apiLoaded">

    </div>

</div>
<div class="row">
    <div class="col"></div>
    <div class="col-sm-2" ng-show="apiLoaded">
        <div ng-repeat="related in relateds">
            <hr>
            <img src="{{related.image}}" id="img-book" ng-show="apiLoaded">
            <h5>{{related.name}}</h5>
            <a target="_blank" href="{{related.url}}" class="btn btn-outline-dark">Show more...</a>
        </div>
    </div>
</div>

</div>