<h1>Cart list</h1>
<hr>

<div class="empty-msg" ng-show="isEmptyCart()">
    <p>Empty cart</p>
    <a href="#/order" class="btn btn-outline-dark btn-block">Go to store</a>
</div>


<div class="content-cart-details" ng-show="!isEmptyCart()">
    <!-- Cart element -->
    <div class="card cart-elements" ng-repeat="item in cart" ng-show=item.inCart> 
        <div class="card-header" >
            <div class="container">
                <div class="row">
                    <div class="col">
                        {{item.name}} <span class="float-right"> {{item.price}} € </span>
                    </div>
                    <div class="col-1 noSeleccionable">
                        <span class="glyphicon glyphicon-minus subtract-item pointer" ng-click="minusOne(item)"></span>
                        <span class="quantity">{{item.quantity}}</span>
                        <span class="glyphicon glyphicon-plus add-item pointer" ng-click="addOne(item)"></span>
                    </div>
                    <div class="col-1">
                        <span class="glyphicon glyphicon-remove remove-item pointer" ng-click="removeItem(item)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>

    <h5>
        <span>Total: {{calculateTotal()}}</span> <span class="total-price"></span>
    </h5>

    <br>
    <button type="button" class="btn btn-outline-success btn-block complete-order" ng-click="completeOrder()"> Complete order </button>
    <!-- <button type="button" class="btn btn-outline-warning btn-block complete-order" ng-click="test()"> TEST </button> -->
    <a class="btn btn-outline-dark btn-block redirect-to-shop" href="#/order">Go to store</a>

</div>
