<!-- CARROUSEL -->
<div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img class="d-block w-100" src="frontend/assets/img/carrousel/carrousel-img0.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-light">— Coffee and books —</h1>
            </div>

        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="frontend/assets/img/carrousel/carrousel-img1.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-light">— Relaxing with a good book —</h1>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="frontend/assets/img/carrousel/carrousel-img2.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-light">— Monday free coffee —</h1>
            </div>
        </div>
    </div>


    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /CARROUSEL -->

<br>
<!-- SEARCH MENU -->
<div class="input-group" id="menu-search">
    <select class="form-control" id="search-type" ng-model="searchType">
        <option value="">- Type -</option>
        <option value="libro">Book</option>
        <option value="articulo">Article</option>
        <option value="revista">Magazine</option>
    </select>

    <select class="form-control" id="search-genre" ng-model="searchGenre">
        <option value="">- Genre -</option>
        <option value="accion">Action</option>
        <option value="aventuras">Adventures</option>
        <option value="terror">Terror</option>
        <option value="otro">Other</option>
    </select>

    <input class="form-control" id="search-home" placeholder="Search..." ng-model="homeSearch">
    <span class="input-group-append">
        <!-- <button class="btn btn-outline-dark" type="button" id="search-btn">
            <span class="glyphicon glyphicon-search"></span> Search
        </button> -->
    </span>
</div>
<!-- /SEARCH MENU -->

<div class="text-center" id="suggestions">
    <div class="changeOnHover noSeleccionable pointer" ng-click="autocompleteClick(data.ISBNResource)"
        ng-repeat="data in autocomplete | filter:{ISBNResource:homeSearch}:onlyMatch | limitTo:15">
        {{data.ISBNResource}}
    </div>
</div>

<br>

<div class="row text-center">
    <div class="col-lg-4 col-md-6" ng-repeat="data in resource">
        <div class="card">
            <img class="card-img-top" src="frontend/assets/img/book-img.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">{{data.nameResource}}</h4>
                <p class="card-text">{{data.releaseResource}}</p>
                <div class="card-footer">
                    <button class="readRec btn btn-outline-dark btn-block" ng-click="details(data)">More!</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-border text-dark" id="scroll-load-icon" role="status" hidden></div>
