<h2 ng-show="isResultsEmpty()">Without results</h2>

<div dir-paginate="item in items | itemsPerPage: pageSize" current-page="currentPage">

    <div class="card" id="itemSearch">
        <div class="card-header bg-dark text-light">{{item.nameResource}}</div>
        <div class="card-body">
            <p class="card-text">
                <b>Editorial: </b> {{item.editorialResource}}</br>
                <b>ISBN: </b> {{item.ISBNResource}} </br>
            </p>
            <a class="moreDetails btn btn-outline-dark" href="#/details/{{item.IDResource}}">Show more!</a>
        </div>
    </div>
    </br>

</div>

<div class="float-right" ng-show="!isResultsEmpty()">
    Items per page
    <select class="form-group form-control" ng-model="pageSize">
        <option value="3" ng-selected="true">3</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
    </select>
</div>

<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>

<br>
